.p-news {
  padding: 40px 0 80px;
  .c-title {
    margin-bottom: 30px;
  }
}

.c-buttonGroup {
  display: flex;
  justify-content: space-between;
  &__btn {
    cursor: pointer;
    outline: none;
    z-index: 19;
    position: relative;
    width: 18%;
    border: 1px solid #ccc;
    padding: 30px 20px;
    border-radius: 20px;
    color: #f6f6f6;
    box-shadow: 0 2px 1px #ccc;
    font-size: 1.4rem;
    opacity: 0.4;
    transform: all 0.5s;
    &:nth-child(1) {
      background-color: yellowgreen;
      border-color: yellowgreen;
    }
    &:nth-child(2) {
      background-color: red;
      border-color: red;
    }
    &:nth-child(3) {
      background-color: blue;
      border-color: blue;
    }
    &:nth-child(4) {
      background-color: darkviolet;
      border-color: darkviolet;
    }
    &:nth-child(5) {
      background-color: green;
      border-color: green;
    }
    &.active {
      opacity: 1;
    }
    &:hover {
      opacity: 1;
      transform: translateY(-2px);
      box-shadow: 0 4px 1px #ccc;
    }
    &:active {
      transform: translateY(1px);
      box-shadow: 0 1px 1px #ccc;
    }
  }
}
