.p-shop {
  padding: 40px 0 60px;
  .c-title {
    margin-bottom: 40px;
  }
}
.c-shop {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  &__contain {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .c-cardOutline {
      width: 20%;
      padding: 2.5%;
      display: inline-block;
    }
    .c-card {
      height: 370px;
    }
    .c-card__image {
      height: 180px;
    }
  }
  &__empty {
    font-size: 3rem;
    padding: 30px 20px;
  }
}
.c-sidebar {
  border-radius: 10px;
  display: inline-block;
  border: 1px solid #333;
  box-sizing: border-box;
  padding: 20px 5px;
  min-width: 200px;
  &__title {
    font-size: 1.4rem;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: center;
  }
  &__catFil {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    label {
      cursor: pointer;
      font-size: 1.2rem;
      padding-left: 26px;
      position: relative;
      margin-bottom: 10px;
      input {
        display: none;
        &:checked + span {
          &::before,
          &::after {
            display: block;
          }
        }
      }
      span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 16px;
        height: 16px;
        border: 2px solid #333;
        border-radius: 50%;
        transform: translateY(1px);
        &::before {
          display: none;
          content: "";
          position: absolute;
          width: 8px;
          height: 2px;
          top: 50%;
          left: 50%;
          background-color: #333;
          transform: translate(-50%, -50%);
        }
        &::after {
          display: none;
          content: "";
          position: absolute;
          width: 8px;
          height: 2px;
          top: 50%;
          left: 50%;
          background-color: #333;
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
  }
  &__slider {
    width: 80%;
    margin: 0 auto 20px;
  }
  &__val {
    p {
      margin-bottom: 10px;
    }
  }
  &__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    input {
      width: 120px;
    }
    ion-icon {
      cursor: pointer;
      font-size: 20px;
      padding: 0 4px;
      &:nth-child(1):hover {
        color: red;
      }
      &:nth-child(3):hover {
        color: green;
      }
    }
  }
}
